<h2>Add New Content</h2>

<form (ngSubmit)="onSubmit()" class="content-form">
  <label>Title:</label>
  <input type="text" [(ngModel)]="newContent.title" name="title" required />

  <label>Description:</label>
  <textarea [(ngModel)]="newContent.description" name="description" required></textarea>

  <button type="submit" class="submit-btn">Submit</button>
</form>

 @if (successMessage) {
    <p class="success-message">{{ successMessage }}</p>
 }

 @if (errorMessage) {
    <p class="error-message">{{ errorMessage }}</p>
 }

